.row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    height: 30px;
    
    .element {
        border-bottom: 1px solid grey;  
        text-align: left;
        line-height: 30px;

        input{
            text-align: left;
        }

        .actions {
            cursor: pointer;
            padding: 5px;
        }
    }

    :last-child {
        text-align: center;
    }
    
    
}