.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .custom-button {
    font-size: 13px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
