.import-table {
    width: 100%;
    
    .import-line-body {
        border-top: 1px dotted grey;
    }

    .import-notice {
        margin: 15px;
        text-align: left;
        font-weight: bold;
    }

    .import-line-title {
        display: grid;
        grid-template-columns: 1fr 6fr 2fr;
        grid-gap: 10px;
        font-weight: bold;
        justify-content: space-between;

        span { 
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }
}