.mapping-select {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 5px;
  justify-content: stretch;

  .icon {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
  }
  .icon:hover {
    color: darkred;
  }

  .custom-select {
    display: flex;
    min-width: 120px;

    select {
      padding: 5px;
      margin: 0 5px;
      width: 100%;
    }
  }
}
